:root {
  /* ===== EEND ===== */
  --duck-color-body: #ffb800;
  --duck-color-body-dark: #ff9c00;
  --duck-color-body-light: #ffd894;
  --duck-color-beak: #ff5400;
  --duck-color-feet: #c94200;
  --duck-color-eyes: #403644;

  /* ===== ACHTERGROND LAND ===== */
  --earth-land-color: #a47148;
  --earth-sky-color: #bfe4ff;
  --earth-grass-color: #6bbf59;
  --earth-grass-color-dark: #60832e;

  /* ===== ACHTERGROND WATER ===== */
  --water-color-medium: #4fb3ff;
  --water-color-light: #bfe4ff;
  --water-color-dark: #2f7fd1;

  /* ===== algemeen ===== */

  --color-white: #ffffff;
}

* {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

main {
  display: block;
  position: relative;
  width: 80vw;
  height: 60vh;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

main section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* achtergrond kleuren van land */

main section:nth-of-type(1) div:nth-of-type(1) {
  background-color: var(--earth-sky-color);
  flex: 1.5;
}

main section:nth-of-type(1) div:nth-of-type(2) {
  background-color: var(--earth-grass-color);
  flex: 0.75;
}

main section:nth-of-type(1) div:nth-of-type(3) {
  background-color: var(--earth-land-color);
  flex: 0.75;
}

/* achtergrond kleuren van water */

main section:nth-of-type(2) div:nth-of-type(1) {
  background-color: var(--earth-sky-color);
  flex: 1.75;
}
main section:nth-of-type(2) div:nth-of-type(2) {
  background-color: var(--water-color-dark);
  flex: 1.25;
}

/* water staat eerst op display none want hoef nog niet getoond te worden */
main section:nth-of-type(2) {
  display: none;
}

/* theme switcher */

body:has(nav label:nth-of-type(2) input:checked) main section:nth-of-type(1) {
  display: none;
}

body:has(nav label:nth-of-type(2) input:checked) main section:nth-of-type(2) {
  display: flex;
}

/* styling van theme-switcher */

nav {
  display: flex;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  position: relative;
  align-items: center;
}

nav input {
  display: none;
}

nav label {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

nav label:has(input:checked) {
  color: var(--water-color-dark);
}

nav span[title="glider"] {
  position: absolute;
  height: 40px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  left: 10px;
}

nav label:nth-of-type(1):has(input:checked) ~ span[title="glider"] {
  transform: translateX(0);
}
nav label:nth-of-type(2):has(input:checked) ~ span[title="glider"] {
  transform: translateX(100px);
}

/* wolkjes design */

main section div:nth-of-type(1),
main section div:nth-of-type(2) {
  position: relative;
  overflow: hidden;
}

section div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section div:nth-of-type(1) ul li {
  position: absolute;
}

section div:nth-of-type(1) ul li:nth-of-type(1) {
  left: 10%;
  top: 50px;
}
section div:nth-of-type(1) ul li:nth-of-type(2) {
  left: 45%;
  top: 75px;
}
section div:nth-of-type(1) ul li:nth-of-type(3) {
  right: 20%;
  top: 40px;
}

section div:nth-of-type(1) button {
  position: absolute;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  width: 120px;
  height: 100px;
}

section div:nth-of-type(1) button:nth-of-type(1) {
  left: -40px;
  top: 20px;
}
section div:nth-of-type(1) button:nth-of-type(2) {
  left: 0;
  top: 0;
  width: 140px;
  height: 110px;
  z-index: 2;
}
section div:nth-of-type(1) button:nth-of-type(3) {
  left: 60px;
  top: 20px;
}

/* struik design */
